@model AdminPanelDB.ViewModels.AdminPanelViewModel
@Html.Partial("_AdminNavbar")



<div class="admin-right">
    <div style="display:flex; gap:20px; text-align:center; align-items:center; margin-top:20px;">

    <h2>Personen</h2>
    <div id="error-box" style="font-weight:bold; margin-top: 7px;
         color:@(TempData["MessageType"]?.ToString() == "success" ? "green" :
                TempData["MessageType"]?.ToString() == "error" ? "red" : "blue")">

        @TempData["Message"]
    </div>

    </div>


    <form asp-action="Personen" method="get" id="personenForm">
         @Html.AntiForgeryToken()
    <div class="table-wrapper">
    <table id="personenTable">
    <thead>
                @{
                    var columns = new[] {
                        new { Name = "Titel", Display = "Titel" },
                        new { Name = "Name", Display = "Name" },
                        new { Name = "Vorname", Display = "Vorname" },
                        new { Name = "Email", Display = "Email" },
                        new { Name = "UId", Display = "UId" },
                        new { Name = "Abteilung", Display = "Abteilung" },
                        new { Name = "Referat", Display = "Referat" },
                        new { Name = "Stelle", Display = "Stelle" },
                        new { Name = "Rolle", Display = "Rolle" },
                        new { Name = "IstAdmin", Display = "IstAdmin" }

              
                    };

                    string GetSortDirection(string column)
                    {
                        return (ViewBag.SortColumn == column && ViewBag.SortDirection == "ASC") ? "DESC" : "ASC";
                    }

                    string GetSortArrow(string column)
                    {
                        return (ViewBag.SortColumn == column) ? (ViewBag.SortDirection == "ASC" ? "▲" : "▼") : "●";
                    }
                }


        <tr>
            <th hidden>Id</th>
            @foreach (var col in columns)
            {
            <th>
                <a href="@Url.Action("Personen", new {
                    sortColumn = col.Name,
                    sortDirection = GetSortDirection(col.Name),
                    pageNumber = Model.Personen.PageIndex,
                    pageSize = Model.Personen.PageSize,
                    titel = Model.Filter?.Titel,
                    name = Model.Filter?.Name,
                    vorname = Model.Filter?.Vorname,
                    email = Model.Filter?.Email,
                    uid = Model.Filter?.UId,
                    abteilung = Model.Filter?.Abteilung,
                    referat = Model.Filter?.Referat,
                    stelle = Model.Filter?.Stelle,
                    rolle = Model.Filter?.Rolle,
                    istadmin = Model.Filter?.IstAdmin
               
                })">
                   @(
                    col.Name == "Email" ? "E-Mail" :
                    col.Name == "IstAdmin" ? "Superadmin" :
                    col.Display
                   )
                   @GetSortArrow(col.Name)

                </a>
            </th>
            }
            <th>Aktionen</th>

        <!-- Filter für die Tabelle. -->
        <tr class="filter-row">
            <th hidden><input type="text" name="id" value="@Model.Filter?.Id" placeholder="Filter Id" /></th>
            <th>
                <select name="titel"  onchange="document.getElementById('pageNumberInput').value=1; document.getElementById('personenForm').submit();" style="padding:4px 6px; margin:0px; width:100px;" class="selectim">
                @{
                var titelOptions = new[] {
                    new { Value = "", Text = "Alle" },
                    new { Value = "Herr", Text = "Herr" },
                    new { Value = "Frau", Text = "Frau" },
                    new { Value = "Dr.", Text = "Dr." },
                    new { Value = "Prof.", Text = "Prof." }
                };

                foreach (var opt in titelOptions)
                {
                    var isSelected = (Model.Filter?.Titel == opt.Value) ? "selected" : "";
                    @:<option value="@opt.Value" @isSelected>@opt.Text</option>
                }
                }
                </select>
            </th>

            <th><input type="text" name="name" value="@Model.Filter?.Name" placeholder="Filter Name" /></th>
            <th><input type="text" name="vorname" value="@Model.Filter?.Vorname" placeholder="Filter Vorname" /></th>
            <th><input type="text" name="email" value="@Model.Filter?.Email" placeholder="Filter E-Mail" /></th>
            <th><input type="text" name="uid" value="@Model.Filter?.UId" placeholder="Filter UId" /></th>
            <th><input type="text" name="abteilung" value="@Model.Filter?.Abteilung" placeholder="Filter Abteilung" /></th>
            <th><input type="text" name="referat" value="@Model.Filter?.Referat" placeholder="Filter Referat" /></th>
            <th><input type="text" name="stelle" value="@Model.Filter?.Stelle" placeholder="Filter Stelle" /></th>
            <th>
                <select name="rolle" 
                        onchange="document.getElementById('pageNumberInput').value=1; document.getElementById('personenForm').submit();" 
                        style="padding:4px 6px; margin:0px; width:100px;" 
                        class="selectim">
                    @{
                        var RolleOptions = new[] {
                            new { Value = "", Text = "Alle" },      // keine Auswahl
                            new { Value = "Administrator", Text = "Administrator" },    
                            new { Value = "Abteilungsleiter", Text = "Abteilungsleiter" },
                            new { Value = "Referatsleiter", Text = "Referatsleiter" },  
                            new { Value = "Sachbearbeiter", Text = "Sachbearbeiter" }  
                        };

                        foreach (var opt in RolleOptions)
                        {
                             var isRolle = (Model.Filter?.Rolle?.ToLower() == opt.Value.ToLower()) ? "selected" : "";
                            @:<option value="@opt.Value" @isRolle>@opt.Text</option>
                        }
                    }
                </select>
            </th>
            <th>
                <select name="istadmin" 
                        onchange="document.getElementById('pageNumberInput').value=1; document.getElementById('personenForm').submit();" 
                        style="padding:4px 6px; margin:0px; width:100px;" 
                        class="selectim">
                    @{
                        var istAdminOptions = new[] {
                            new { Value = "", Text = "Alle" },      // keine Auswahl.
                            new { Value = "1", Text = "Ja" },    // nur Admins.
                            new { Value = "0", Text = "Nein" }  // keine Admins.
                        };

                        foreach (var opt in istAdminOptions)
                        {
                            var isSelected = (Model.Filter?.IstAdmin?.ToString().ToLower() == opt.Value) ? "selected" : "";
                            @:<option value="@opt.Value" @isSelected>@opt.Text</option>
                        }
                    }
                </select>
            </th>
            <th>
                <button type="submit" class="btn btn-primary btn-sm" 
                        onclick="document.getElementById('pageNumberInput').value = 1;"><i class="fas fa-magnifying-glass"></i></button>
                <a asp-action="Personen" class="abtn"><i class="fas fa-rotate-left"></i></a>
            </th>

              
        </tr>

    </thead>
    <tbody>
        @if (Model.Personen != null && Model.Personen.Count > 0)
        {
            @foreach (var p in Model.Personen)
            {
            <tr id="row-@p.Id">
                     
                <td hidden>@p.Id</td>
                <td>@p.Titel</td>
                <td>@p.Name</td>
                <td>@p.Vorname</td>
                <td>@p.Email</td>
                <td>@p.UId</td>
                <td>@p.Abteilung</td>
                <td>@p.Referat</td>
                <td>@p.Stelle</td>
                <td>@p.Rolle</td>
                <td>@if(@p.IstAdmin)
                    {
                        <i class="fa-solid fa-crown" style="color:gold;"></i>
                    }else
                    {
                       
                    }
                </td>
                <td>
                    <a asp-action="EditUser" asp-route-id="@p.Id" asp-route-pageNumber="@Model.Personen.PageIndex" asp-route-pageSize="@Model.Personen.PageSize" asp-route-sortColumn="@ViewBag.SortColumn" asp-route-sortDirection="@ViewBag.SortDirection" class="abtn">
                        <i class="fas fa-pen"></i>
                    </a>

                    <form asp-action="DeleteUser" method="post" style="display:inline;">
                        <input type="hidden" name="id" value="@p.Id"/>
                        @Html.AntiForgeryToken()
                        <button type="button" class="btn" onclick="deleteUser(@p.Id)"><i class="fas fa-trash"></i></button>
                    </form>                                             
                </td>
            </tr>
            }
        }
        else
        {
            <tr><td colspan="11" style="text-align:center; ">Keine Einträge gefunden</td></tr>
        }
    </tbody>
    </table>
    </div> 
       
       

    <div class="table-footer-wrapper">
        <div class="table-footer">

            <label>Anzahl der Einträge:</label>
            <input readonly type="number" value="@ViewBag.TotalCount" style="width:60px; padding:5px;"/>

            <!--  Erste Seite. -->
            @if (Model.Personen.HasPreviousPage)
            {
                <button type="submit" name="pageNumber" value="1" class="btn btn-outline-secondary" title="Erste Seite">
                    <i class="fas fa-angle-double-left"></i>
                </button>
            }

            <!--  Vorherige Seite. -->
            @if (Model.Personen.HasPreviousPage)
            {
                <button type="submit" name="pageNumber" value="@(Model.Personen.PageIndex - 1)" class="btn btn-outline-secondary"><i class="fas fa-arrow-left"></i></button>
            }

            <span>Seite @Model.Personen.PageIndex von @Model.Personen.TotalPages</span>

            <!--  Nachste Seite. -->
            @if (Model.Personen.HasNextPage)
            {
                <button type="submit" name="pageNumber" value="@(Model.Personen.PageIndex + 1)" class="btn btn-outline-secondary"><i class="fas fa-arrow-right"></i></button>
            }

            <!--  Letze Seite. -->
            @if (Model.Personen.HasNextPage)
            {
                <button type="submit" name="pageNumber" value="@Model.Personen.TotalPages" class="btn btn-outline-secondary" title="Letzte Seite">
                    <i class="fas fa-angle-double-right"></i>
                </button>
            }

            <!-- Gehe zu. -->
            <label for="pageNumberInput">Gehe zu:</label>
            <input type="number"
                   id="pageNumberInput"
                   name="pageNumber"
                   min="1"
                   max="@Model.Personen.TotalPages"
                   value="@Model.Personen.PageIndex"
                   onkeydown="if(event.key==='Enter'){event.preventDefault(); this.form.submit();}"
                   style="width:60px; padding:5px;" />
  
            <!-- Versteckte Filter zur Beibehaltung der Parameter. -->
            <input type="hidden" name="titel" value="@Model.Filter?.Titel" />
            <input type="hidden" name="name" value="@Model.Filter?.Name" />
            <input type="hidden" name="vorname" value="@Model.Filter?.Vorname" />
            <input type="hidden" name="email" value="@Model.Filter?.Email" />
            <input type="hidden" name="uid" value="@Model.Filter?.UId" />
            <input type="hidden" name="abteilung" value="@Model.Filter?.Abteilung" />
            <input type="hidden" name="referat" value="@Model.Filter?.Referat" />
            <input type="hidden" name="stelle" value="@Model.Filter?.Stelle" />
            <input type="hidden" name="istadmin" value="@Model.Filter?.IstAdmin" />

             <!-- Zeilen pro Seite. -->
            <label>Zeilen pro Seite:</label>
            <select name="pageSize"  onchange="onPageSizeChange()" style="padding:4px 6px;  width:60px;">
                @{
                    int[] sizes = { 1, 5, 10, 20, 9999 };
                    foreach (var size in sizes)
                    {
                        string selected = (Model.Personen.PageSize == size) ? "selected" : "";
                        var displayText = size == 9999 ? "Alle" : size.ToString();
                        @:<option value="@size" @selected>@displayText</option>
                    }
                }
            </select>

            <!-- go to. -->
            <button type="submit" class="btn"><i class="fas fa-check"></i></button>
            <!-- Zurücksetzen. -->
            <a asp-action="Personen" class="abtn"><i class="fas fa-rotate-left"></i></a>
        </div>
    </div>
    
    </form>
    <a asp-action="CreateUser" class="btn-edit addabteilung"><i class="fas fa-plus"></i></a>
           
</div>




