@model dynamic


<h2>User Data</h2>

<ul>
    <li>Id = @Model.Id</li>
    <li>Titel = @Model.Titel</li>
    <li>Name = @Model.Name</li>
    <li>Vorname = @Model.Vorname</li>
    <li>Email = @Model.Email</li>
    <li>UId = @Model.UId</li>
    <li>Abteilung = @Model.Abteilung</li>
    <li>Referat = @Model.Referat</li>
    <li>Stelle = @Model.Stelle</li>
    <li>Kennwort = @Model.Kennwort</li>
</ul>
