@model EditAdresseViewModel

<div id="validationErrors">
    @if (Model.Errors != null && Model.Errors.Any())
    {
        <ul style="color:red; text-align:center; font-weight:bold;">
            @foreach (var err in Model.Errors)
            {
                <li style="list-style:none">@err</li>
            }
        </ul>
    }
</div>


<h2 style="text-align:center;">Neue Adresse erstellen</h2>

<div class="form-container">
    <form id="adresseForm" asp-action="CreateAdresse" method="post">
        <div style="display:flex; gap:20px;">
            <!-- Adresse. -->
            <div class="adresseBox">
                <label>Land:</label>
                <select id="countrySelect" class="form-select" name="Land">
                    <option value="">---</option>
                    @foreach(var c in Model.Countries)
                    {
                        <option value="@c.Code">@c.Name</option>
                    }
                </select>
                <!-- Adresse imputs. -->
                <div id="dynamicFields"></div>
            </div>

            <!-- Static fields. -->
            <div class="staticfields adresseBox">
                <label>Gebaude:</label>
                <input type="text" name="Gebaude" />

                <label>Wohnung:</label>
                <input type="text" name="Wohnung" />

                <label>Bezeichnung:</label>
                <input type="text" name="Bezeichnung" />

                <label>IBAN:</label>
                <input type="text" name="Iban" />

                <label>BIC:</label>
                <input type="text" name="Bic" />

                <label>
                    Ist Insolvent:
                    <input type="checkbox" name="IstInsolvent" /> 
                </label>

                <label>
                    Ist Aktiv:
                    <input type="checkbox" name="IstAktiv" /> 
                </label>

                <label>Ansprechpartner:</label>
                <input type="text" name="Ansprechpartner" />

                <label>AnsprechpartnerTel:</label>
                <input type="text" name="AnsprechpartnerTel" />

                <label>AnsprechpartnerEmail:</label>
                <input type="text" name="AnsprechpartnerEmail" />
            </div>

            <!-- Rechnung. -->
            <div class="adresseBox">
                <label>Land: (Rechnung)</label>
                <select id="billCountrySelect" class="form-select" name="RechnungsLand">
                    <option value="">---</option>
                    @foreach (var c in Model.Countries)
                    {
                        <option value="@c.Code">@c.Name</option>
                    }
                </select>
                <!-- Rechnung imputs. -->
                <div id="billDynamicFields"></div>
                <button type="button" id="copyAddress">Adresse Kopieren</button>
            </div>

            <!-- Gesamtadresse. -->
            <div class="adresseBox">
                <label>Gesamtadresse:</label>
                <textarea style="min-height:200px;" name="Gesamtadresse" id="fullAddress"></textarea>
                <button type="button" onclick="gesamtAdresse()">Hinzufügen</button>
            </div>
        </div>
        <div style="display:flex; justify-content:center; margin-top:2px;">
        <button type="submit">Speichern</button>
        </div>
    </form>
    <a asp-action="Adresse">Züruck</a>
</div>

<script>

</script>